<ul class="nav-bar-custom">
  <%= link_to image_tag('fake_tube.PNG', style: "width: 100px; height: 50px;"), root_path %>
  <li><a class="active" href="/" style="color: white">Home</a></li>
  <li><a href="/contact" style="color: white">Contact</a></li>
  <li><a href="/about" style="color: white">About</a></li>
  <li class="dropdown-menus">
    <a href="javascript:void(0)" class="dropbtn" style="color: white;">Category</a>
    <div id="category-dropdown" class="dropdown-content">
      <% @categories.each do |cat| %>
        <%= link_to cat.name, videos_url + "?search_by_category=" + cat.name %>
      <% end %>
    </div>
  </li>
  <li> <a href="/videos/new" style="color: white">Upload Video</a></li>
  <li class="dropdown-menus">
    <a href="javascript:void(0)" class="dropbtn" style="color: white;"> Settings</a>
    <div class="dropdown-content">
      <a href="javascript:void(0)">  <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" onclick="themeToggle();">
        <div id="theme"></div>
        <label class="form-check-label" for="flexSwitchCheckChecked">Light/Dark</label>
       </div></a>
    </div>
  </li>

  <li class="dropdown-menus">
  <% if user_signed_in? %>
    <a href="javascript:void(0)" class="dropbtn" style="color: white;"> <%= current_user.user_name %></a>
    <div class="dropdown-content">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete%>
    </div>
  <% else %>
    <a href="javascript:void(0)" class="dropbtn" style="color: white;">Anonymous</a>
    <div class="dropdown-content">
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
    </div>
  <% end %>
  </li>

  <li style="color: white; float: right; margin-right: 8px;">  
    <form action="/videos">
      <div class="input-group mb-2">
          <input id="video_search_input" name="search_input" class="form-control" type="text" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
          <button class="btn btn-danger" id="button-addon2" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </form>
  </li>
</ul>
