<article>
    <p>By <%= comment.user.email %></p>
    <div class="comment-content"> <%= comment.body %></div>
    <a class="comment-reply-display" href="#">Reply</a> ||
    <div class="comment-form">
      <%= render partial: "comments/comment_form", locals: {video: comment.video, parent: comment }%>
    </div>
    <% if current_user %>
      <% if current_user.id == comment.user.id %>
        <%= link_to "Delete", delete_comment_path(comment.video.id, comment.id), data: { "turbo-method": :delete }, class: "delete-comment" %>
      <% end %>
    <% end %>
    <hr>
    <div class="subcomment-content">
      <%= render comment.comments.includes(:video).order(id: :desc) %>
    </div>
</article>
<script>
      document.querySelectorAll(".comment-reply-display").forEach((el) => { 
        el.addEventListener("click", (ev) => { 
          ev.preventDefault(); 
          el.nextElementSibling.style= "display: block;";
        }) 
      })
</script>
