<p> 
   <%= video_tag(url_for(@video.clip), size:'600x300', controls: :controls, id:'videoPlay', class: "video-js vjs-default-skin", preload: true, 'data-setup':'{ "aspectRatio":"600:300", "playbackRates": [0.5, 1, 1.5, 2] }' ) %>
</p>
<p>
   <%= button_tag "Subcribe", type: 'button', onclick: "loadContent('EDM Music Gaming');", class: 'btn btn-danger', style: 'display: block;'%>
   <%= button_tag "UnSubcribe", type: 'button', onclick: "loadContent(this.value);", style: "display: none;", class: 'btn btn-secondary', 'data-confirm': 'Are you sure?'%>
</p>
<p>
   <strong>Title:</strong>
   <%= @video.title %>
</p>

<p>
    <strong>Description:</strong>
    <%= @video.description %>
</p>


<p>
    <strong>Category:</strong>
    <% @video.categories.each do |cat| %>
    <span class="badge rounded-pill bg-danger"><%= cat.name %></span>
    <% end %>
</p>

    <p>
        <strong>Views:</strong>
        <%= pluralize(@video.views_count, 'view') %>
    <% if user_signed_in? %>
        || You're an <%= current_user.role %>
    </p>

    <%= link_to "Update Video", edit_video_path(@video), class: "btn btn-success" if @video.user_id == current_user.id %>
    <% end %>

<p>
    <strong>User:</strong>
    <%= @video.user.user_name %>

<%= link_to "Back", videos_path, class: "btn btn-secondary" %>
<div id="video-content">Test Ajax Request here. Video title will be listed here</div>
<script>
    function loadContent(str){
        if(str == ''){
            document.getElementById('video-content').innerHTML = '';
            return;
        }
        const xhttp = new XMLHttpRequest();
        xhttp.onload = () => {
            document.getElementById('video-content').innerHTML = this.responseText;
        }
        xhttp.open('GET', '/video_title?');
        xhttp.send("search_video=" + str);
    }
</script>