<p> 
   <%= video_tag(url_for(@video.clip), size:'600x300', controls: :controls, id:'videoPlay', class: "video-js vjs-default-skin", preload: true, 'data-setup':'{ "aspectRatio":"600:300", "playbackRates": [0.5, 1, 1.5, 2] }' ) %>
</p>
<p>
<button class="btn-custom" id="blue" onclick="document.getElementById('form-blue').submit();"><i class="fa-solid fa-thumbs-up fa-2x"></i></button>
<button class="btn-custom" id="red" onclick="document.getElementById('form-red').submit();"><i class="fa-solid fa-thumbs-down fa-2x"></i></button>
<% if user_signed_in? %>
  <div id="video-content">Test Ajax Request here. Video title will be listed here</div>

  <%= button_to "Like", {controller: :like_dislikes, video_id: @video.id, action: :create_like}, remote: true,form: {id: 'form-blue'} %>

  <%= button_to "DisLike", {controller: :like_dislikes, video_id: @video.id, action: :create_dislike}, remote: true,form: {id: 'form-red'}%>
<% end %>
</p>
<p>Likes: <%= @total_likes_count %></p>

<p>Dislikes: <%= @total_dislikes_count %></p>
<p>
   <strong>Title:</strong>
   <%= @video.title %>
</p>

<p>
    <strong>Description:</strong>
    <%= @video.description %>
</p>


<p>
    <strong>Category:</strong>
    <% @video.categories.each do |cat| %>
    <span class="badge rounded-pill bg-danger"><%= cat.name %></span>
    <% end %>
</p>

    <p>
        <strong>Views:</strong>
        <%= pluralize(@video.views_count, 'view') %>
    <% if user_signed_in? %>
        || You're an <%= current_user.role %>
    </p>
    <p>
      <strong>User:</strong>
      <%= @video.user.user_name %>
    </p>
    <%= link_to "Update Video", edit_video_path(@video), class: "btn btn-success" if @video.user_id == current_user.id %>
    <% end %>

<%= link_to "Back", videos_path, class: "btn btn-secondary" %>
<h1>Comments</h1>
<% if user_signed_in? %>
  <%= render partial: "comments/comment_form", locals: {video: @video, parent: nil} %>
<% else %>
  <p>You need to sign in to post your comment</p>
<% end %>
<%= render @video.comments.where(parent_id: nil).includes(:user).order(id: :desc) %>

<script data-turbolinks-eval="false">
  let getLikeButton = document.querySelector('#blue');
  let getDislikeButton = document.querySelector('#red');

  getLikeButton.addEventListener('click', function(){
    if(getDislikeButton.classList.contains('btn-red')){
      getDislikeButton.classList.remove('btn-red'); 
    }
    this.classList.toggle('btn-blue');
  }); 

  getDislikeButton.addEventListener('click', function() {
    if(getLikeButton.classList.contains('btn-blue')){
      getLikeButton.classList.remove('btn-blue');
    }  
    this.classList.toggle('btn-red');
    });


  window.onload = function(){
    <% if @is_liked %>
           getLikeButton.classList.toggle('btn-blue');
    <% elsif @is_disliked %>
        getDislikeButton.classList.toggle('btn-red');
    <% else %>
          getDislikeButton.classList.remove('btn-red');
          getLikeButton.classList.remove('btn-blue');
      <% end %>
    }
</script>
<script src="https://vjs.zencdn.net/8.6.1/video.min.js"></script>
